@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://css.gg/math-plus.css');
@import url('https://css.gg/close.css');
@import url('https://css.gg/shopping-cart.css');
*{
  margin:0;
  padding:0;
  font-family: 'Nunito Sans', sans-serif;
  box-sizing:border-box;
}
body{
}